  
  /**iPhone,Android環境下での表示*/


@media screen and ( max-width:414pt )

{

    

button {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */ 
    border: none; 
    /* 枠線を消す */
     outline: none;
    }

    
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  button,
  input {
    /* 1 */
    overflow: visible; }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  button,
  select {
    /* 1 */
    text-transform: none; }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }
  
    .button {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center; }

    body.legacy .button::before {
      vertical-align: text-bottom; }
  
    .button {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 16px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; }
  
  .button.active {
    background-color: #fa6400; }
  
  .button.active:active {
    background-color: #d35400; }
  
  .button.info.active {
    background-color: #30a7e5; }
  
  .button.inactive {
    background-color: #b4b4b4; }
  
  
  
  body.legacy .button {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center; }

    body.legacy .button::before {
      vertical-align: text-bottom; }
  
  .button-desc {
    margin: 14px 0;
    line-height: 1.4;
    text-align: center;
    font-weight: bold; }
  
  
  
    .linkbox {
      display: flex;
      position: relative;
      width: 60%;
      height: 100px;
      margin-top: 16px;
      border-radius: 50px;
   }
  
    .linkbox a {
      display: flex;
      position: absolute;
      padding-left: 22px;               /* 余白指定 */
      padding-top: 10px;
      top:  0;                     /* 位置指定 */
      bottom:  0;                  /* 位置指定 */
      left:  0;                    /* 位置指定 */
      right:  0;                   /* 位置指定 */
      margin:  auto;               /* 中央寄せ */
      width:  50%;               /* 幅指定 */
      height: 100%;                /* 高さ指定 */
      text-decoration: none;
      color: #ffffff;

    }

a{
    text-decoration: none;
    color: #30a7e5;
}

.image-vw {
    width : 90vw ; 
  }

    html {
    height: 100%; }
  
  body {
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 40px;
    color: #323322;
    background-color: #ffffff;
    padding-top: constant(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right); }
  
  body * {
    box-sizing: border-box;
    user-select: none; 
    margin: auto;}

#root {
    opacity: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto; }
  
  body.ios #root {
    padding-top: constant(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right); }


  }



  
  /**iPad環境下での表示*/


    button {
        font-family: inherit;
        /* 1 */
        font-size: 100%;
        /* 1 */
        line-height: 1.15;
        /* 1 */
        margin: 0;
        /* 2 */ 
        border: none; 
        /* 枠線を消す */
        outline: none;
        }

        
    
    /**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
    button,
    input {
        /* 1 */
        overflow: visible; }
    
    /**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
    button,
    select {
        /* 1 */
        text-transform: none; }
    
    /**
    * Correct the inability to style clickable types in iOS and Safari.
    */
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button; }
    
    /**
    * Remove the inner border and padding in Firefox.
    */
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0; }
    
    /**
    * Restore the focus styles unset by the previous rule.
    */
    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText; }
    
        .button {
        display: inline-block;
        vertical-align: middle;
        line-height: 60px;
        text-align: center; }

        body.legacy .button::before {
        vertical-align: text-bottom; }
    
        .button {
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 16px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff; }
    
    .button.active {
        background-color: #fa6400; }
    
    .button.active:active {
        background-color: #d35400; }
    
    .button.info.active {
        background-color: #30a7e5; }
    
    .button.inactive {
        background-color: #b4b4b4; }
    
    
    
    body.legacy .button {
        display: inline-block;
        vertical-align: middle;
        line-height: 60px;
        text-align: center; }

        body.legacy .button::before {
        vertical-align: text-bottom; }
    
    .button-desc {
        margin: 14px 0;
        line-height: 1.4;
        text-align: center;
        font-weight: bold; }
    
    
    
        .linkbox {
        display: flex;
        position: relative;
        width: 60%;
        height: 100px;
        margin-top: 16px;
        border-radius: 50px;
    }
    
        .linkbox a {
        display: flex;
        position: absolute;
        padding-left: 22px;               /* 余白指定 */
        padding-top: 10px;
        top:  0;                     /* 位置指定 */
        bottom:  0;                  /* 位置指定 */
        left:  0;                    /* 位置指定 */
        right:  0;                   /* 位置指定 */
        margin:  auto;               /* 中央寄せ */
        width:  50%;               /* 幅指定 */
        height: 100%;                /* 高さ指定 */
        text-decoration: none;
        color: #ffffff;

        }

    a{
        text-decoration: none;
        color: #30a7e5;
    }

    .image-vw {
        width : 90vw ; 
    }

        html {
        height: 100%; }
    
    body {
        height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 20px;
        color: #323322;
        background-color: #ffffff;
        padding-top: constant(safe-area-inset-top);
        padding-bottom: constant(safe-area-inset-bottom);
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right); }
    
    body * {
        box-sizing: border-box;
        user-select: none; 
        margin: auto;}

    #root {
        opacity: 1;
        width: 100%;
        height: 100%;
        margin: 0 auto; }
    
    body.ios #root {
        padding-top: constant(safe-area-inset-top);
        padding-bottom: constant(safe-area-inset-bottom);
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right); }